<section id="work"> <!-- Work Links Section Start -->
    <div class="item" style="background:#ccc;">
        <a href="/seasons">
        <img src="http://katychuang.pythonanywhere.com/static/thumbs/events.png" alt="image 1"></a><!-- Image must be 400px by 300px -->
        <h3>NLTK Analysis</h3><!--Title-->
        <p>Comparing seasons</p><!--Category-->
    </div><!--/item-->

    <div class="item" style="background:#ccc;">
        <a href="/keywords">
            <img src="http://katychuang.pythonanywhere.com/static/thumbs/keywords.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
    	<h3>Keyword Analysis</h3><!--Title-->
        <p>Bar Chart</p><!--Category-->
    </div><!--/item-->

    <div class="item" style="background:#ccc;">
    	<a href="/brands"><img src="http://katychuang.pythonanywhere.com/static/thumbs/brands.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
    	<h3>Brand Analysis</h3><!--Title-->
        <p>Pie Chart</p><!--Category-->
    </div><!--/item-->

    <div class="item" style="background:#ccc;">
        <a href="/search"><img src="http://katychuang.pythonanywhere.com/static/thumbs/search.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
    	<h3>Search</h3><!--Title-->
        <p>keywords</p><!--Category-->
    </div><!--/item-->

    <div class="item" style="background:#ccc;">
    	<a href="/news"><img src="http://katychuang.pythonanywhere.com/static/thumbs/socialapi.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
    	<h3>Newsfeed</h3><!--Title-->
        <p>Social API</p><!--Category-->
    </div><!--/item-->
</section>