{% block header %}
    <div id="top">
        <div id="logo">
            <h1 id="logotitle">Style-Buzz</h1>    <!-- Logo text -->
        </div><!--/logo-->

        <nav>	<!-- Navigation Start -->
            <ul>
            	<li><a href="/#top">HOME</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#work">Apps</a></li>
                <li><a href="/#footer">Contact</a></li>
            </ul>
        </nav>	<!-- Navigation End -->
    </div><!--/top-->

{% endblock header %}

