<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}Style Buzz{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Katherine Y. Chuang">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Dosis|News+Cycle|Josefin+Sans|Advent+Pro|Lato:300,400,700|' rel='stylesheet' type='text/css'>

            <script src="http://katychuang.pythonanywhere.com/static/envision.js"></script>
            <link rel="stylesheet" type="text/css" href="http://katychuang.pythonanywhere.com/static/style.css">
            {% block css %}        {% endblock %}

            <style>
                #tweetblock {border-bottom:1px solid #ccc;border-top:1px solid #ccc; margin:1em 0 1em 0; padding:1em 0 1em 0;}
                #credits{
                    color:gray;
                    font-family:'Poiret One';
                    font-size:10pt;
                    margin:0px;padding:0px;
                }
            </style>


</head>
<body>
	<!-- Primary Page Layout
	================================================== -->

	<div class="wrapper">


        {% include "includes/header.html" %}


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                     {% for message in messages %}
                        <p>{{ message }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block twitter %}        {% endblock %}

		<hr>

        {% block content %}        {% endblock %}

        <hr>

        <span id="credits">
		 	{% block credits %}
                <center>
                    Written by <a href="http://www.twitter.com/katychuang">@katychuang</a><br />
                    Powered by Python/Flask on Google App Engine
                </center>
                <br />
            {% endblock %}
    	</span>
	<!-- JS
	================================================== -->


<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Poiret+One::latin','Quattrocento+Sans::latin', 'Muli',
                'Cookie', 'Lobster'
         ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();


	</script>

<!-- End Document
================================================== -->
</body>
</html>
