{% extends "base.html" %}


{% block content %}
{% block example_chart %}

    {% include "includes/appMenu.html" %}

    <p>&nbsp;</p>

    <div class="clearfix"></div> <!-- Text Section End -->

    <section id="slideshow">
    <header>
        <h1><span>NLTK Analysis</span></h1>
    </header>
    <p>Sample of chart that could show word usage of different countries. Group 1 includes tweets that were not written in iso language en. Group two includes tweets that wre written with iso language setting 'en'.
    <br /><br />More info about Twitter's ISO 639-1 code <a href="https://dev.twitter.com/docs/api/1/get/search">here</a>. </p>

    <!--div id="test" style="height:500px"></div-->
    <br />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://katychuang.pythonanywhere.com/static/envision.js"></script>
    </section>

    <aside id="group1" class="left">
        <h3>Group 1 </h3>
        <p>
            <ul>
        {% for k,v in one %}
            <li style="border-bottom:1px solid #eeeeee;padding-left:100px;list-style-type:none">{{ k }}
                <span style="float:right;padding-right:150px">{{ v }}</span></li>
        {% endfor %}
            </ul>
        </p> 
    </aside>
 
    

    <aside id="group2" class="right">
        <h3>Group 2 (en)</h3>
        <p>
        <ul>
        {% for k,v in two %}
            <li style="border-bottom:1px solid #eeeeee;padding-left:100px;list-style-type:none">{{ k }}
                <span style="float:right;padding-right:150px">{{ v }}</span></li>
        {% endfor %}
        </ul> 
        </p>
    </aside>
    <div id="histogram" class="chart">


    </div>


{% endblock %}
{% endblock %}

{% block footer %}
    {% include "prototype/footer.html" %}
{% endblock footer %}
