{% extends "base.html" %}

{% block css %}

<script src="/static/js/jquery-jvectormap-1.1.1.min.js"></script>
<script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>

<link rel="stylesheet" href="http://katychuang.pythonanywhere.com/static/stately/assets/css/stately.css">

<script type="text/javascript" src="http://katychuang.pythonanywhere.com/static/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="http://katychuang.pythonanywhere.com/static/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

<script type="text/javascript" src="http://katychuang.pythonanywhere.com/d3/static/js/d3.js"></script>
<script type="text/javascript" src="http://katychuang.pythonanywhere.com/d3/static/js/d3.layout.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<link rel="stylesheet" href="/static/js/jquery-jvectormap-1.1.1.css" type="text/css" media="screen"/>
\
{% endblock %}

{% block content %}
{% block example_chart %}

    {% include "includes/appMenu.html" %}

    <p>&nbsp;</p>

    <div class="clearfix"></div> <!-- Text Section End -->

    <section id="slideshow">
    <header>
        <h1><span>NLTK Analysis</span></h1>
    </header>
    <p>Sample of chart that could show word usage of different countries. Group 1 includes tweets that were not written in iso language en. Group two includes tweets that wre written with iso language setting 'en'.
    <br /><br />More info about Twitter's ISO 639-1 code <a href="https://dev.twitter.com/docs/api/1/get/search">here</a>.
    </p>


    <div id="world-map" style="width: 800px; height: 400px;border:1px solid black"></div>


    </section>

    <aside id="group1" class="left">
        <h3>Group 1 </h3>
        <p>
            <ul>
        {% for k,v in one %}
            <li style="border-bottom:1px solid #eeeeee;padding-left:100px;list-style-type:none">{{ k }}
                <span style="float:right;padding-right:150px">{{ v }}</span></li>
        {% endfor %}
            </ul>
        </p>
    </aside>



    <aside id="group2" class="right">
        <h3>Group 2 (en)</h3>
        <p>
        <ul>
        {% for k,v in two %}
            <li style="border-bottom:1px solid #eeeeee;padding-left:100px;list-style-type:none">{{ k }}
                <span style="float:right;padding-right:150px">{{ v }}</span></li>
        {% endfor %}
        </ul>
        </p>
    </aside>
    <div id="histogram" class="chart">


    </div>


{% endblock %}
{% endblock %}

{% block footer %}
    <script>
        $(function(){
          $('#world-map').vectorMap({
            map: 'world_mill_en',
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
              initial: {
                fill: '#F8E23B',
                stroke: '#383f47'
              }
            },
            backgroundColor: '#383f47',
            markers: [
              {latLng: [41.90, 12.45], name: 'Vatican City'},
              {latLng: [43.73, 7.41], name: 'Monaco'},
              {latLng: [-0.52, 166.93], name: 'Nauru'},
              {latLng: [-8.51, 179.21], name: 'Tuvalu'},
              {latLng: [43.93, 12.46], name: 'San Marino'},
              {latLng: [47.14, 9.52], name: 'Liechtenstein'},
              {latLng: [7.11, 171.06], name: 'Marshall Islands'},
              {latLng: [17.3, -62.73], name: 'Saint Kitts and Nevis'},
              {latLng: [3.2, 73.22], name: 'Maldives'},
              {latLng: [35.88, 14.5], name: 'Malta'},
              {latLng: [12.05, -61.75], name: 'Grenada'},
              {latLng: [13.16, -61.23], name: 'Saint Vincent and the Grenadines'},
              {latLng: [13.16, -59.55], name: 'Barbados'},
              {latLng: [17.11, -61.85], name: 'Antigua and Barbuda'},
              {latLng: [-4.61, 55.45], name: 'Seychelles'},
              {latLng: [7.35, 134.46], name: 'Palau'},
              {latLng: [42.5, 1.51], name: 'Andorra'},
              {latLng: [14.01, -60.98], name: 'Saint Lucia'},
              {latLng: [6.91, 158.18], name: 'Federated States of Micronesia'},
              {latLng: [1.3, 103.8], name: 'Singapore'},
              {latLng: [1.46, 173.03], name: 'Kiribati'},
              {latLng: [-21.13, -175.2], name: 'Tonga'},
              {latLng: [15.3, -61.38], name: 'Dominica'},
              {latLng: [-20.2, 57.5], name: 'Mauritius'},
              {latLng: [26.02, 50.55], name: 'Bahrain'},
              {latLng: [0.33, 6.73], name: 'São Tomé and Príncipe'}
                ]
            });
        });
      </script>
{% endblock footer %}
