{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block content-wrap %}
<p>email me at katychuang AT acm DOT org</p>
<form action="./contact/" method="GET">
<!--div id="contact_wrap">

        <div id="contact" class="clearfix">
            <div id="c_form">
                <form name="theform" action="./thankyou" method="post" id="theform">
                    <div id="name_email">
                        <label id="id_name">Name:</label>
                        <input type="text" name="name" value="" id="name" /><br />
                        <label id="id_email">Email:</label>
                        <input type="text" name="email" value="" id="Email" />
                    </div><!-- end name_email --
                    <div id="message">
                        <label id="id_message">Message:</label><br>
                        <textarea name="message" rows="8" cols="37"></textarea>

                    </div><!-- end message --
                    <div id="submit">
                        <input type="submit" onclick="YY_checkform('theform','name','#q','0','Field \'name\' is empty.','Email','#S','2','Field \'Email\' appears not to be valid.','message','2','1','Field \'message\' is empty.');return document.MM_returnValue" />
                    </div><!-- end submit --
                    <input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" />
                </form>

            </div><!-- end c_form --
        </div><!-- end contact --

    </div><!-- end contact_wrap -->
</form>
{% endblock %}
