{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block main %}

<pre>
//Section for text analysis
    - Top words
    - Grouped by item, colors, etc.


</pre>
<p style="border-bottom:1px solid #ddd">&nbsp;</p>
<form action="../search/" method="GET" id="searchform1">
<p>You can search for key words in tweets using box below (e.g. 'vogue', 'shoes', 'prada', 'hat'):<br>
    <input type="search" name="q" value="{{ query|escape }}" results="10">
    <input type="submit" value="Search"></p>
 {% if query %}
 <br /><br />
    <h2>Results for "{{ query|escape }}":</h2>
<br />
    {% if results %}
      <ul>
      {% for tweet in results %}
        <li>{{ tweet|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No questions found</p>
    {% endif %}
  {% endif %}
</form>
{% if userlist %}
<p style="border-bottom:1px solid #ddd">&nbsp;</p>
Recent tweets from <a href="http://www.refinery29.com/best-fashion-twitters">this list</a>...
    <ul>
    {% for p in userlist %}
        <li>{{ p.timestamp }} //  <b>{{ p.user }}</b>: {{ p.tweet }} </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock main %}