{% block footer %}

<footer id="footer">
    <div class="wrapper">
        <section class="left"><h4></h4></section>



<!-- DON'T TOUCH THIS SECTION END -->

        <section class="right social"> <!-- Social Icons Start -->
        <a href="https://plus.google.com/108870060325793264627">
            <img class="icon" src="http://katychuang.pythonanywhere.com/static/icons/google.png" width="32" height="32" alt="google"></a><!-- Replace with any 32px x 32px icons -->
        <a href="http://www.twitter.com/katychuang">
            <img class="icon" src="http://katychuang.pythonanywhere.com/static/icons/twitter.png" width="32" height="32" alt="twitter"></a><!-- Replace with any 32px x 32px icons -->
        </section> <!-- Social Icons End -->

        </section> <!-- Social Icons End -->
    </div>
    <div class="clearfix"></div>
</footer>
    {% endblock footer %}

