    {% block footer %}
        <div id="footer">
    		<!--form action="{{ STATIC_URL }}/search" method="get" id="searchform">
    		    <p><input type="search" name="q" value="" results="5" /></p>
			</form-->

			<div class="attribution">
            &copy; 2012 <a href="http://www.katychuang.com">KAT CHUANG</a><br>
            Built with Django; theme inspired by
            <a href="http://www.tumblr.com/theme/3357" title="tumblr theme feather">feather</a><br>
            </div>
		</div>

    {% endblock footer %}


