{% block header %}
    <div id="header">
            <div id="description">
                <h1><a href="http://katychuang.pythonanywhere.com">Python Fashion Forecaster</a></h1>
            </div>
            <div style="padding-left:60px;background-image: -webkit-linear-gradient(top, white, #F7F7F7 57%, #F2F2F2);">
                <a href="https://github.com/katychuang/Python-Fashion-Forecaster/wiki/Prototype">ABOUT </a>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="http://katychuang.pythonanywhere.com/concept">CONCEPT </a>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="http://katychuang.pythonanywhere.com/contact">CONTACT </a>
            </div>
            <br />
    </div>
{% endblock header %}