{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block header %}
    {% include "prototype/header.html" %}
{% endblock header %}


{% block main %}
    <section id="slideshow">    <!-- Slideshow Start -->
        <div class="html_carousel">
            <div id="slider">

                <div class="slide">
                    <img src="{{ STATIC_URL }}slideshow/slide1.jpg" width="3000" height="983" alt="image 1"/>
                    <!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                </div><!--/slide-->

                <div class="slide">
                    <img src="{{ STATIC_URL }}slideshow/slide2.jpg" width="3000" height="983" alt="image 2"/>
                    <!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                </div><!--/slide-->

                <div class="slide">
                    <img src="{{ STATIC_URL }}slideshow/2012_Pantone_Fashion_Color_Report_Spring_03.jpg" width="3000" height="983" alt="image 3"/>
                    <!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                </div><!--/slide-->

                <div class="slide">
                    <img src="{{ STATIC_URL }}slideshow/slide3.jpg" width="3000" height="983" alt="image 4"/>
                    <!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                </div><!--/slide-->
            </div><!--/slider-->
            <div class="clearfix"></div>
        </div><!--/html_carousel-->
        <script src="{{ STATIC_URL }}jquery.carouFredSel-5.5.2.js" type="text/javascript"></script>
        <script type="text/javascript">
        $("#slider").carouFredSel({
            responsive  : true,
            scroll      : {
                fx          : "crossfade",
                easing      : "swing",
                duration    : 1000,

            },
            items       : {
                visible     : 1,
                height      : "40%"
            }
        });
        </script>

    </section>  <!-- Slideshow End -->
<br>
    <aside id="about" class=" left"> <!-- Text Section Start -->
        <h3>About Python Fashion Forecaster</h3><!-- Replace all text with what you want -->
        <p>
         I created this app to gather social api data from the Internet about fashion into a
         central location, in order to find trends from a computational approach.
         It is still in beta.<br /><br />
         </p>

         <h3>Ingredients</h3>
         <p>
         This app is made with several open source software: Django Web framework for
         Python, MySQL database, and for visualizations: D3.js and Flotr2.js.
            <br /><br /><br />

        <center>
        <a href="https://plus.google.com/108870060325793264627">
            <img src="{{ STATIC_URL }}icons/google.png" width="32" height="32" alt="google"></a>
        <a href="http://www.twitter.com/katychuang">
            <img src="{{ STATIC_URL }}icons/twitter.png" width="32" height="32" alt="twitter"></a>
        </center>
        </p>
    </aside>
    <aside class="right">
        <h3>&nbsp;</h3><center>
        <p><img src="{{ STATIC_URL }}PythonFashionForecaster.png" width="300">

<br /><br />
        </p></center>
    </aside>
    <div class="clearfix"></div> <!-- Text Section End -->

    <section id="work"> <!-- Work Links Section Start -->
        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/examples/time-series/"><img src="{{ STATIC_URL }}thumbs/events.png" alt="image 1"></a><!-- Image must be 400px by 300px -->
            <h3>Event Analysis</h3><!--Title-->
            <p>Times Series Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/examples/bar/"><img src="{{ STATIC_URL }}thumbs/keywords.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
            <h3>Keyword Analysis</h3><!--Title-->
            <p>Bar Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/examples/pie/"><img src="{{ STATIC_URL }}thumbs/brands.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
            <h3>Brand Analysis</h3><!--Title-->
            <p>Pie Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/search"><img src="{{ STATIC_URL }}thumbs/search.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
            <h3>Search</h3><!--Title-->
            <p>keywords</p><!--Category-->
        </div><!--/item-->

        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/newsfeed"><img src="{{ STATIC_URL }}thumbs/socialapi.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
            <h3>Newsfeed</h3><!--Title-->
            <p>Social API</p><!--Category-->
        </div><!--/item-->

        <div class="clearfix"></div>
    </section> <!-- Work Links Section End -->
<br/><br/><br/><br/>

            {% block chart %}

            {% endblock %}
    </div>
    <!-- end #main -->
{% endblock main %}

{% block content %}

{% endblock content %}

<!-- SLIDESHOW SCRIPT START -->
        <script type="text/javascript">
        $("#slider").carouFredSel({
            responsive    : true,
            scroll      : {
                fx          : "crossfade",
                easing      : "swing",
                duration    : 1000,

            },
            items       : {
                visible     : 1,
                height      : "27%"
            }
        });
        </script>
        <!-- SLIDESHOW SCRIPT END -->

{% block footer %}
    {% include "prototype/footer.html" %}
{% endblock footer %}