{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block header %}
    {% include "prototype/header.html" %}
{% endblock header %}


{% block main %}
<section id="work"> <!-- Work Links Section Start -->
        <div class="item" style="background:#ccc;">
            <a href="http://katychuang.pythonanywhere.com/examples/time-series/">
            <img src="{{ STATIC_URL }}thumbs/events.png" alt="image 1"></a><!-- Image must be 400px by 300px -->
            <h3>Event Analysis</h3><!--Title-->
            <p>Times Series Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item" style="background:#ccc;">
            <a href="http://katychuang.pythonanywhere.com/examples/bar/"><img src="{{ STATIC_URL }}thumbs/keywords.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
        	<h3>Keyword Analysis</h3><!--Title-->
            <p>Bar Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item" style="background:#ccc;">
        	<a href="http://katychuang.pythonanywhere.com/examples/pie/"><img src="{{ STATIC_URL }}thumbs/brands.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
        	<h3>Brand Analysis</h3><!--Title-->
            <p>Pie Chart</p><!--Category-->
        </div><!--/item-->

        <div class="item">
            <a href="http://katychuang.pythonanywhere.com/search"><img src="{{ STATIC_URL }}thumbs/search.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
        	<h3>Search</h3><!--Title-->
            <p>keywords</p><!--Category-->
        </div><!--/item-->

        <div class="item" style="background:#ccc;">
        	<a href="http://katychuang.pythonanywhere.com/newsfeed"><img src="{{ STATIC_URL }}thumbs/socialapi.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
        	<h3>Newsfeed</h3><!--Title-->
            <p>Social API</p><!--Category-->
        </div><!--/item-->
    </section>
    <p>&nbsp;</p>
    <header>
        <h1> <span>Search</span> </h1>
        <h2>{{ date }}</h2>
    </header>


    <form action="../search/" method="GET" id="searchform1">
        <p>You can search for key words in tweets using box below. <br>
        <input type="search" name="q" value="{{ query|escape }}" results="10">
        <input type="submit" value="Search"></p><br />
        Examples:
        '<a href="../search/?q=vogue">vogue</a>', '<a href="../search/?q=shoes">shoes</a>',
        '<a href="../search/?q=%23pfw">#PFW</a>' (paris fashion week), '<a href="../search/?q=%23NYFW">#NYFW</a>' (new york fashion week)<br>

         {% if query %}<br /><br />
            <h2>Results for "{{ query|escape }}":</h2><br />
            {% if results %}
              <ul>
              {% for tweet in results %}
                <li>{{ tweet|escape }}</l1>
              {% endfor %}
              </ul>
            {% else %}
              <p>No questions found</p>
            {% endif %}
          {% endif %}

          <p style="min-height:400px">&nbsp;</p>
    </form>

    {% if slideset %}

    {% endif %}

    {% if userlist %}
    <p style="border-bottom:1px solid #ddd">&nbsp;
        Recent tweets from <a href="http://www.refinery29.com/best-fashion-twitters">
        this list (#)</a>...</p>
        <ul>
        {% for p in userlist %}
            <li>{{ p.timestamp }} //  <b>{{ p.user }}</b>: {{ p.tweet }} </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock main %}



{% block footer %}
    {% include "prototype/footer.html" %}
{% endblock footer %}